// Definitions for Tempo Semiconductor tscs42xx 
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			audio_xtal: xtal {
				#clock-cells = <0>;
				compatible = "fixed-clock";
				clock-frequency = <12288000>;
				status = "okay";
			};
		};
	};

	fragment@1 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			wookie: codec@69 {
				#sound-dai-cells = <0>;
				compatible = "tempo,tscs42A2";
				reg = <0x69>;
				clock-names = "xtal";
				clocks = <&audio_xtal>;
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&sound>;
		__overlay__ {
			compatible = "simple-audio-card";
			simple-audio-card,name = "Simple Wookie Card";
			simple-audio-card,format = "i2s";
			simple-audio-card,bitclock-master = <&dailink0_master>;
			simple-audio-card,frame-master = <&dailink0_master>;
			simple-audio-card,widgets =
				"Speaker", "Speakers",
				"Headphone", "Headphones",
				"Microphone", "Analog Mic",
				"Microphone", "Digital Mic",
				"Line", "Line In";
			simple-audio-card,routing =
				"Headphones", "Headphone L",
				"Headphones", "Headphone R",
				"Speakers", "Speaker L",
				"Speakers", "Speaker R",
				"Line In 3 L", "Digital Mic",
				"Line In 3 R", "Digital Mic",
				"Digital Mic", "Digital Mic Enable",
				"Line In 1 L", "Analog Mic",
				"Line In 1 R", "Analog Mic",
				"Analog Mic", "Mic Bias",
				"Line In 2 L", "Line In",
				"Line In 2 R", "Line In";
			simple-audio-card,hp-det-gpio = <&gpio 16 1>;
			status = "okay";
			simple-audio-card,cpu {
				sound-dai = <&i2s>;
			};
			dailink0_master: simple-audio-card,codec {
				sound-dai = <&wookie>;
			};
		};
	};
};
